<div>
    <form action="/api/sessions/pplogin" method="post">
        <input placeholder="Correo electrónico" name="email" type="email" required="true">
        <input placeholder="Contraseña" name="password" type="password" required="true">
        <button type="submit">Ingresar</button>
    </form>
        <p>¿No tienes cuenta? Entonces <a href="/ppregister">regístrate</a>.</p>
</div>