<div>
    <form action="/api/sessions/register" method="post">
        <input required="true" placeholder="Nombre" name="name" type="text">
        <input required="true" placeholder="Apellido" name="lastName" type="text">
        <input required="true" placeholder="Contraseña" name="password" type="password">
        <input required="true" placeholder="Email" name="email" type="email">
        <input required="true" placeholder="Número" name="phoneNumber" type="tel">
        <input placeholder="Descripción" name="description" type="text">
        <input placeholder="Edad" name="age" type="number">
        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes cuenta? Haz click en <a href="/login">iniciar sesión</a>.</p>
</div>

